<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/register.css">
    {% include 'common/public_js_css.html' %}
</head>
<body>
<form action="/polls/register/" enctype="multipart/form-data" method="post" id="register_form">
    {% csrf_token %}
    <div class="tel">
        <input type="text" name="username" placeholder="用户名"><span>由5-8个字符组成！</span>
        <input type="tel" name="userEmail" placeholder="邮箱"><span>请按邮箱格式输入</span>
        <input type="password" name="userPassword1" placeholder="密码"><span>使用字母、数字、符号两种及以上的组合，8-12个字符</span>
        <input type="password" name="userPassword2" placeholder="再次输入密码"><span id="error_one"></span>
        <p style="margin-left: 20px">选择头像<input type="file" name="headimage" id="my_file" style="width: 180px"></p>
        <input type="button" value="注册" id="but_reg">
    </div>
</form>
<script>
    $('#but_reg').click(function () {
        $.ajax({
            url: '/polls/register/',
            type: 'post',
            data: new FormData($('#register_form')[0]),
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status == 'fail_one') {
                    $('#error_one').text(data.msg)
                } else if (data.status == 'fail') {
                    $('#error_one').text(data.msg)
                } else if (data.status == 'success') {
                    alert('注册成功，去登陆');
                    window.location.href = '/login/';
                }
            }
        })
    })
</script>
</body>
</html>