<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消缺</title>
    {% include 'common/public_js_css.html' %}
    <link rel="stylesheet" href="/static/css/xiaoque.css" >
</head>
<body>
<div class="rightCon">
    <div class="rightOneLine">
        <label> 任务编号：</label>
        <input type="text">
        <label>任务状态：</label>
        <select name="" id="">
            <option value="choose">-请选择-</option>
            <option value="working">工作中</option>
            <option value="play">休息</option>
        </select>
    </div>
    <div class="rightTwoLine">
        <label> 下发人：<input type="text"></label>
        <label> 下发时间：<input type="date">-<input type="date"></label>
    </div>
    <div class="rightThreeLine">
        <input style="background-color: #FF9900" type="button" value="查询">
        <input style="background-color: green" id="set_task" type="button" value="制定消缺任务">
    </div>
    <div class="setTaskTable">
        <table border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th style="height: 65px">任务编号</th>
                <th>任务名称</th>
                <th>巡检线路</th>
                <th>巡检员</th>
                <th>启用状态</th>
                <th>起始杆号</th>
                <th>终止杆号</th>
                <th>下发人</th>
                <th>下发时间</th>
            </tr>
            <tbody id="xiaoxue_list">

            </tbody>
        </table>
        <div id="data"></div>
            <div id="box"></div>
    </div>
</div>

<div class="addPage">
    <div class="addForm">
        <div class="addHead">
            <h4 style="margin-left: 42px">制定消缺任务<span class="fa fa-close" id="close"></span></h4>
        </div>
        <form action="" enctype="multipart/form-data" method="post" id="add_form">
            {% csrf_token %}
            <ul>
                <li><span>任务编号</span><input name="task_id" id="task" style="width: 500px" type="text" required>
                    <label for="task_id" class="error" style="display: none;"></label></li>
                <li><span>任务名称</span><input name="task_name" style="width: 500px" type="text" required></li>
                <label for="task_name" class="error" style="display: none;"></label>
                <li><span >巡检线路</span>
{#                    <select name="inspect_line">#}
{#                        <option  value="0">西渭一线</option>#}
{#                        <option  value="1">西渭二线</option>#}
{#                        <option  value="2">西渭三线</option>#}
{#                    </select>#}
                     <input name="inspect_line" style="width: 500px" type="text">
                </li>
                <li>
                    <span style="margin-right: 15px">巡检员</span>
                    <input name="inspect_user" type="checkbox" value="0"><span>巡检人员1</span>
                    <input name="inspect_user" type="checkbox" value="1"><span>巡检人员2</span>
                    <input name="inspect_user" type="checkbox" value="2"><span>巡检人员3</span>
                    <input name="inspect_user" type="checkbox" value="3"><span>巡检人员4</span>
                </li>
                <li>
                    <span>启用状态</span>
                    <input name="state" type="radio" value="0"><span>启用</span>
                    <input name="state" type="radio" value="1"><span>禁用</span>
                </li>
                <li>
                    <span>起始杆号</span><input name="pole_beg" style="width: 500px" type="text" required>
                    <label for="pole_beg" class="error" style="display: none;"></label>
                </li>
                <li>
                    <span>终止杆号</span><input name="pole_end" style="width: 500px" type="text" required>
                    <label for="pole_end" class="error" style="display: none;"></label>
                </li>
                <li>下发人:
                    <input type="text" name="df_username" class="dfinput" value="admin" readonly style="width:200px;"/>
                </li>
                <li>下发时间:
                    <input type="date" name="df_date" class="dfinput" >
                </li>
                <li>
                    <span style="margin-right: 50px">备注</span>
                    <textarea name="content" id="content" rows="6" cols="60"></textarea>
                </li>
                <input style="height: 40px;width: 68px;border: none;background-color: #FF9900;margin-left: 267px"
                       type="button" value="提交" id="button_task">
                <p id="error"></p>
            </ul>
        </form>
    </div>
</div>
<script>
     $(function () {
        $('#button_task').click(function () {
            $.ajax({
                url: '/xiaoque/addxiaoque/',
                type: 'post',
                data: new FormData($('#add_form')[0]),
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status == 'success') {
                        window.location.href = '/xiaoque/get_xiaoque/'
                    }else if (data.status == 'fail') {
                         $('#error').text(data.msg)
                    }
                }
            })
        });
        $('#homePage_li').click(function () {
            $('.rightCon').css('display', 'none');
            $('.homePage').show();
            return false;
        });
        $('#set_task').click(function () {
            $('.addPage').css('display', 'block')
        });
        $('#close').mousedown(function () {
            $('.addPage').hide()
        });
         function initPage() {
             $('.m-box').pagination({
                 pageCount: 3,
                 showData: 5,
                 coping: true,
                 homePage: '首页',
                 endPage: '末页',
                 prevContent: '上页',
                 nextContent: '下页',
                 callback: function (api) {
                     (api.getCurrent(), false)
                 }
             });
         }
     })
</script>
    <script src="/static/js/fenye/page.js"></script>

</body>
</html>